@import "abstracts/native-variables.css";
@import "components/conjugation.css";
@import "components/words.css";

.layoutContent__body::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500%;
    z-index: 201;
    pointer-events:none;
    background: url("../images/noise.jpg");
    opacity: 0.05;
    content: "";
    overflow: hidden;
}

.layoutHeader__body {
    background: var(--color-primary);
    border-bottom: 8px solid var(--color-primary-dark);
    color: #fff;
    a {color: inherit;}
}

.btn.btn-owp-search {
    --bs-btn-color: var(--search-button-color);
    --bs-btn-bg: var(--search-button-bg);
    --bs-btn-hover-bg: var(--search-button-hover-bg);
}