.wordsList__item {
    display: flex;
    gap: 24px;

    .wordsList__itemImage {
        flex: 0 0 128px;
        img {
            width: 100%;
            max-width: 128px;
       }
    }
}


.word {
    .word__header {
        display: flex;

        .word__image {
                         width: 50%;
                     }
    }
}